
.game-card {
    border: 2px solid cadetblue;
}

.game-card.faction-leader {
    border: 2px solid aqua;
}


.game-card.active-selected {
    background-color: chartreuse;
}
.game-card.passive-selected {
    background-color: forestgreen;
}

.neutral {
    border: 2px solid blue;
    margin: 15px 0;
}

.table-small-cards {
    width: 100%;
    /*background-color: blue;*/
    text-align: center;
}

.small-card .active-selected {
    background-color: brown;
}

.small-card .passive-selected {
    background-color: saddlebrown;
}